@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F4F4;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-container,
.mat-drawer,
.mat-drawer-content,
.mat-drawer-inner-container {
  border-radius: 0 !important;
  overflow: visible !important;
  background-clip: border-box !important;
}

.mat-drawer-inner-container {
  padding: 0 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F4F4;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-container,
.mat-drawer,
.mat-drawer-content,
.mat-drawer-inner-container {
  border-radius: 0 !important;
  overflow: visible !important;
  background-clip: border-box !important;
}

.mat-drawer-inner-container {
  padding: 0 !important;
}

.mat-icon {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: middle !important;
}

button .mat-icon {
  margin: 0 !important;
}
